body {
    padding: 0px;
    width: 100%;
    height: 100%;
}
.content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 0px;
}
.bg {
    position: absolute;
    z-index: 1;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    filter: blur(7px);
    background: url('../img_for_maket1/kvartira.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
}
footer {
    border-top: white solid 1px;
    position: absolute;
    z-index: 3;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
footer .inline:not(:last-child) {
    margin-right: 5%;
}
footer .logo {
    margin-right: 5%;
}
.logo {
    font-family: "Impact", sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
}
span:not(div.text span) {
    vertical-align: middle;
}
.logo-first {
    background-color: burlywood;
    width: 140px;
    height: 120px;
    position: relative;
    left: 185px;
    top: -10px;
    line-height: 3;

}
.icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.about-us {
    background: url('../img_for_maket1/about-us.png') no-repeat;
    background-size: contain;
}
.inline {
    display: inline-block;
}
.services {
    background: url('../img_for_maket1/services.png') no-repeat;
    background-size: contain;
}
.portfolio {
    background: url('../img_for_maket1/portfolio.png') no-repeat;
    background-size: contain;
}
.blog {
    background: url('../img_for_maket1/blog.png') no-repeat;
    background-size: contain;
}
.contact-us {
    background: url('../img_for_maket1/contact-us.png') no-repeat;
    background-size: contain;
}
span:not(.logo):not(.big) {
    font-weight: lighter;
    font-family: "Comic Sans MS", sans-serif;
}
.grid-container {
    margin-top: 0px;
    display: grid;
    grid-template-columns: auto 140px 140px 140px 140px 140px 140px auto;
    grid-template-rows: 120px 120px 120px;
}
.text {
    padding-right: 10px;
    vertical-align: middle;
    text-align: right;
    grid-row: 1 / 2;
    grid-column: 3 / 6;
}
.about-us-div {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
    background: burlywood url('../img_for_maket1/about-us.png') no-repeat 50% 40%;
}
.div-text {
    padding-top: 70px;
    text-align: center;
    font-family: "Fantasy", sans-serif;
}.small {
    font-size: 12px;
}
.big {
    font-family: "Impact", sans-serif;
    font-size: 35px;
}
.picture {
    grid-row: 1 / 2;
    grid-column: 7 / 8;
    background: url('../img_for_maket1/picture.jpg') no-repeat 20%;
    background-size: cover;
}
.picture-1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background: url('../img_for_maket1/picture-1.jpg') no-repeat 0% 20%;
    background-size: cover;
}
.services-div {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background: rgb(180, 142, 93) url('../img_for_maket1/services.png') no-repeat 50% 40%;
}
.portfolio-div {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    background: rgb(221, 198, 120) url('../img_for_maket1/portfolio.png') no-repeat 50% 40%;
}
.picture-2 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    background: url('../img_for_maket1/picture-2.jpg') no-repeat 10% 10%;
    background-size: cover;
}
.picture-3 {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
    background: url('../img_for_maket1/picture-3.jpg') no-repeat 40% 10%;
    background-size: cover;
}
.blog-div {
    grid-row: 2 / 3;
    grid-column: 7 / 8;
    background: rgb(221, 198, 120) url('../img_for_maket1/blog.png') no-repeat 50% 40%;

}
.picture-4 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    background: url('../img_for_maket1/picture-4.jpg') no-repeat 30% 10%;
    background-size: cover;
}
.picture-5 {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    background: url('../img_for_maket1/picture-5.jpg') no-repeat 20% 10%;
    background-size: cover;
}
.contact-us-div {
    grid-row: 3 / 4;
    grid-column: 6 / 7;
    background: rgb(180, 142, 93) url('../img_for_maket1/contact-us.png') no-repeat 50% 40%;
}
footer a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-shadow: 1px 1px 1px #111111,
    2px 2px 1px #222222;
}